<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Travel Blog{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/destinations">See All Desinations</a></li>
    <li role="presentation"><a href="/destinations/new">Add a New Destination</a></li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <img src="/images/travel.jpg" width="70%">
        <h1>Welcome to my Travel Blog. <small>A journey into my journey!</small></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <br>
            <br>
            <br>
            <p class="text-muted"><a href="/destinations/delete">DELETE ALL POSTS</a></p>
        </div>
    </footer>
    </body>
    </html>
{{/block}}